@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s linear infinite;
}




@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-800 font-outfit;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.active hr {
  @apply block
}

::-webkit-scrollbar{
  @apply hidden;
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary
  }
}